<%= form_for(@rinventor) do |f| %>
  <% if @rinventor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rinventor.errors.count, "error") %> prohibited this rinventor from being saved:</h2>

      <ul>
      <% @rinventor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :update_date %><br>
    <%= f.date_select :update_date %>
  </div>
  <div class="field">
    <%= f.label :rproductid %><br>
    <%= f.number_field :rproductid %>
  </div>
  <div class="field">
    <%= f.label :starting_amount %><br>
    <%= f.text_field :starting_amount %>
  </div>
  <div class="field">
    <%= f.label :added_amount %><br>
    <%= f.text_field :added_amount %>
  </div>
  <div class="field">
    <%= f.label :threshold %><br>
    <%= f.text_field :threshold %>
  </div>
  <div class="field">
    <%= f.label :sold_amount %><br>
    <%= f.text_field :sold_amount %>
  </div>
  <div class="field">
    <%= f.label :actual_amount %><br>
    <%= f.text_field :actual_amount %>
  </div>
  <div class="field">
    <%= f.label :theoretical_ending_inventory %><br>
    <%= f.text_field :theoretical_ending_inventory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
