<%= form_for(@produce_order) do |f| %>
  <% if @produce_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produce_order.errors.count, "error") %> prohibited this produce_order from being saved:</h2>

      <ul>
      <% @produce_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
   
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :orderdate %><br>
    <%= f.date_select :orderdate %>
  </div>

  <div>
  <table class="table table-bordered table-striped">
    <thead>
          <tr>
              <th>Produce</th>
              <th>Order Qty</th>
              <th>Instock Qty</th>
              <th>Remark</th>
              <th>Mon-Sun Sales</th>
          </tr>
      </thead>

  <tbody>
    <% @produce_order.produce_order_items.each.with_index do |produce_order_item,index| %>

      <%= fields_for "produce_order[produce_order_items_attr][]", produce_order_item do |task_form| %>
        <tr>
           <td><%= @allproduce.fetch(index).name.to_s %> <%= task_form.hidden_field :producename, :value => @allproduce.fetch(index).name.to_s %> </td>
           <td> <%= task_form.text_field :quantity %> </td>
          <td> <%= task_form.text_field :instock %> </td>
          <td> <%= task_form.text_field :remark %> </td>
          <% @date1 = 9.days.ago 
             @date2 = @date1 + 7.days 
             @psale = Groupedtotal
                .select("name, SUM(totalsold) as totalsold, productid")
                .where(created_date: @date1..@date2)
                .where(productid: @allproduce.fetch(index).revid)
                .group("name, productid") %>
          
          <td> 
            <% begin %>
            <%= @psale.first.totalsold %> 
            <% rescue 
                next
               end %> </td>
        </tr>
      <% end %>
      <% end %>
  </tbody>
  </table>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
<i class="icon-ok icon-white"></i> Create Order
<% end %> 
<br><br>
<% end %>
