
<%= bootstrap_form_for(@productrequest) do |f| %>
  <% if @productrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productrequest.errors.count, "error") %> prohibited this productrequest from being saved:</h2>

      <ul>
      <% @productrequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <h3> <%= f.label "Product Name" %></h3>
    <%= f.text_field :name %>
  </div>
  <div class="field">
   <h3> <%= f.label :email %></h3>
    <%= f.text_field :email %>
  </div>
  <div class="field">
   <h3> <%= f.label :phone %> (Optional, if you would like to be notified)</h3>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
   <h3> <%= f.label :location %></h3>
    <%= f.select :location, [['North Phoenix','phx'],['Mesa','mesa']] %>

  </div>
  <div class="actions">
    <%= f.submit "Submit Request", data: { disable_with: "Please wait..." } %> 
  </div>
<% end %>
