
<%= bootstrap_form_for(@productrequest) do |f| %>
  <% if @productrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productrequest.errors.count, "error") %> prohibited this productrequest from being saved:</h2>

      <ul>
      <% @productrequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.text_field :name, label: "Product Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, label: "Email (Required)" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, label: "Phone (Optional)" %>
  </div>

  <div class="field">
    <%= f.select :location, [['North Phoenix','phx'],['Mesa','mesa']] %>

  </div>
  <div class="actions">
    <%= f.submit "Submit Request", data: { disable_with: "Please wait..." } %> 
  </div>

<h3> We will try our best to get your requested product to our store as soon as possible. We will notify you via email unless you entered your phone number. Thank You</h3>
<% end %>
