  <img src="<%= asset_path( 'logo.jpg' ) %>" />

<h1>Listing Requests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created On</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productrequests.each do |productrequest| %>
      <tr>
        <td><%= productrequest.name %></td>
        <td><%= productrequest.created_at.strftime('%B %e %Y') %></td>
        <td><%= productrequest.email %></td>
        <td><%= productrequest.phone %></td>
        <td><%= productrequest.location %></td>
        <td><%= link_to 'Show', productrequest %></td>
        <td><%= link_to 'Edit', edit_productrequest_path(productrequest) %></td>
        <td><%= link_to 'Destroy', productrequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

Download:
  <%= link_to "CSV", products_path(format: "csv") %>

<br>