
<%= form_tag(salesforproducedatemesa_path) do %>
<%= select_date Date.today, :prefix => :start_date %>
<%= select_date Date.today, :prefix => :end_date %>
<h4> Email 
  <%= email_field_tag :email %></h4>
<%= submit_tag "Submit", :disable_with => "Submitting..." %>
<% end %>