<div id="flashes">

  <% if flash[:notice] %>
    <p id="flash_notice" class="messages notice"><%= flash[:notice] %></p>
    <%= javascript_tag "$('#flash_notice').effect('highlight',{},1000);" %>
  <% end %>

  <% if flash[:error] || flash[:errors] %>
    <p id="flash_errors" class="messages errors"><%= flash[:error] || flash[:errors] %></p>
    <%= javascript_tag "$('#flash_errors').effect('highlight',{},1000);" %>
  <% end %>

  <% flash[:error] = flash[:errors] = flash[:notice] = nil %>
</div>

<h1>Price Labels for Mesa</h1>

<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @templabels.each do |templabel| %>
      <tr>
        <td><%= templabel.barcode %></td>
        <td><%= link_to 'Show', templabel %></td>
        <td><%= link_to 'Destroy', templabel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Final Submit', csv_path %>

<br>
