<p id="notice"><%= notice %></p>

<p>
  <strong>Update date:</strong>
  <%= @rev_inventory.update_date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @rev_inventory.product %>
</p>

<p>
  <strong>Starting amount:</strong>
  <%= @rev_inventory.starting_amount %>
</p>

<p>
  <strong>Added amount:</strong>
  <%= @rev_inventory.added_amount %>
</p>

<p>
  <strong>Threshold:</strong>
  <%= @rev_inventory.threshold %>
</p>

<p>
  <strong>Sold amount:</strong>
  <%= @rev_inventory.sold_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @rev_inventory.actual_amount %>
</p>

<p>
  <strong>Theoretical ending inventory:</strong>
  <%= @rev_inventory.theoretical_ending_inventory %>
</p>

<%= link_to 'Edit', edit_rev_inventory_path(@rev_inventory) %> |
<%= link_to 'Back', rev_inventories_path %>
