<!DOCTYPE html>
<html>
<head>
  <title>Revellotus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
 
</head>
<body>
 <div class="container">
 
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lotus</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/templabels">Print Tags <span class="current"></span> </a></li>
        <li><a href="/produceorderlocation">Order Produce<span class="current"></span> </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sales insight <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/totalrevenuesalesdateall">Top Seller by Revenue</a></li>
            <li><a href="/totalsales">Top Seller by Unit</a></li>
            <li><a href="/poorinventorydate">InventoryVsSales</a></li>
            <li class="divider"></li>
            <li><a href="/salesforproducedatemesa">Produce Sales Mesa</a></li>
            <li><a href="/salesforproducedatephx">Produce Sales Phoenix</a></li>
            <li><a href="/salesforproducedateall">Produce Sales All</a></li>
            <li><a href="/revenueforproducedateall">Produce Revenue All</a></li>
            

            <li class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Maintainance<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/producemaintainance">Produce</a></li>
          </ul>
        </li>
      </ul>
 
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

  </div>
</body>
</html>
